--trusted-host pypi.org
--trusted-host files.pythonhosted.org

git+https://github.com/gbvolkov/AIAssistantsLibPackage.git

requests
selenium
python-dotenv
pandas
bs4
lxml
xhtml2pdf
html2text

#pydantic<2.8
ragatouille

pydantic
telebot
openai
langchain_openai
langchain-chroma
langchain_gigachat
langchain_community
langchainhub
langchain-huggingface
faiss-cpu
nltk
sentencepiece
#gigachat
yandexcloud
#yandex_chain
langchain_google_genai
langchain_mistralai
llama-cpp-python
accelerate>=0.26.0
#bitsandbytes

pymystem3
tabulate
pathvalidate
playwright
markdownify

ijson
json_repair